

@import url("reset.css");

body{
   margin: 200px;
}
h1, h2{
   font-size: 30px;
   color: brown;
}
.image-list{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.image-list li{
   text-align: center;
   transition: transform 0.3s ease;
   padding:30px ;
}
.image-list li:hover{
   transform: scale(2.1);
}

.image-list img{
   width: 200px;
   height: auto;
   border-radius: 8px;
   cursor: pointer;
   transition: transform 0.3s ease;
}

.image-list h3{
   margin: 10px 0 0;
   font-size: 18px;
}




