@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@import url("reset.css");

@font-face{
   font-family: "Wylie-Voigen";
   src: url("../fonts/Wylie-Voigen.woff2") format("woff2"),
      url("../fonts/Wylie-Voigen.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}
body{
   font-family: "Inter", sans-serif;
   font-size: 18px;
   color: #7D7D7D;
   line-height: 1.4;
}
h1{
   font-family: "Wylie-Voigen";
   font-size: 42px;
   font-weight: 600;
   color:rgba(18, 6, 73, 0.788);
   text-shadow: 7px 7px 10px rgba(228, 224, 13, 0.884),
               -5px -2px 2px rgba(26, 138, 190, 0.904);
   text-align: center;
}
.sub-title {
   font-family: "Wylie-Voigen";
   font-size: 42px;
   color: blueviolet;
   text-shadow: -5px -5px 7px rgba(27, 2, 34, 0.829);
   text-decoration: underline;
   text-align: center;
}
.title {
   font-family: "Poppins", sans-serif;
   color: #37393F;
   font-size: 30px;
   font-weight: 600;
   line-height: 1.26;
   text-transform: capitalize;
}
.list {
   font-family: "Wylie-Voigen";
   font-size: 28px;
   line-height: 1.26;
   font-style: italic;
}
.list-info {
   color: cornflowerblue;
}
.list-links {
   color: rgba(17, 173, 121, 0.719);
   text-shadow: 3px 3px 8px rgba(193, 206, 10, 0.719);
   text-decoration: overline;
   text-decoration-color: aquamarine;
}
.main-text {
   text-align:center;
   color: black;
   text-decoration-line: underline;
   text-decoration-style: wavy;
   text-decoration-color: #7d7d7d46;
   word-spacing: 5px;
}
.text {
   color: goldenrod;
   text-align: center;
}

.sub-title__2 {
   font-family: "Poppins", sans-serif;
   color: #6B77E5;
   font-size: 20px;
   font-weight: 600;
   line-height: 1.27;
}
.title-2 {
   font-family: "Poppins", sans-serif;
   color: #37393F;
   font-size: 40px;
   font-weight: 700;
   line-height: 1.27;
}
.list-figma {
   font-weight: 500;
}

